
<div class="container">
      <clr-datagrid>
        <clr-dg-column>Status</clr-dg-column>
        <clr-dg-column>Title</clr-dg-column>
        <clr-dg-column>Delete</clr-dg-column>

        <clr-dg-row *ngFor="let todo of todos">
            <clr-dg-cell><input type="checkbox"/></clr-dg-cell>
            <clr-dg-cell>{{todo.title}}</clr-dg-cell>
            <clr-dg-cell></clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{todos.length}} users</clr-dg-footer>
      </clr-datagrid>
</div>